<h1>Products</h1>
<ul>
    <%# Loop for all products %>
  <% @products.each do |product| %>
    <li>
      <strong><%= product.title %></strong><br>
      <%= product.description %><br>
      Price: $<%= product.price %><br>
      Stock Quantity: <%= product.stock_quantity %>
    </li>
  <% end %>
</ul>
